<div id="disqus_thread" style="margin-top:3rem;padding-top:2rem;border-top:1px solid #eee;"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{ page.url | absolute_url }}";
    this.page.identifier = "{{ page.url }}";
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://simpsong00-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view comments.</noscript>
